Src/*/bin
Src/*/Bin
Src/*/obj
Src/*/Obj

Src/Migrations/*/*/bin
Src/Migrations/*/*/Bin
Src/Migrations/*/*/obj
Src/Migrations/*/*/Obj
Src/Migrations/*/packages

*.user
*.suo
*.log
*.user
*.chk
_ReSharper.*
ReSharper.*

Build/*
Build_x86/*
Scripts/node.exe.stackdump
Src/Energy10.Web/Client/resources/sass/.sass-cache/
Src/Energy10.6.1.ReSharper
*.sublime-workspace
*.coffee.js
*.dependencies.css
*.dependencies.js
*.styl.css
Src/Energy10.Web/Client/.compiletime
Src/Energy10.Web/Client/.compiledates
Src/Energy10.Web/Client/*.dependencies.build

**/node_modules
examples/css/
examples/js/
