.combo-container
  width 520px
  position relative
  border 1px solid #647484
  background #fff
  font-size 11px
  font-family "Arial", "Helvetica", sans-serif

  .combo-input-container
    display inline

    .combo-input
      width 474px
      padding 1px 24px 1px 0px
      height 16px
      border 0
      outline 0
      font-size 11px
      margin-left 4px

  .combo-button
    background-image url('images/trigger.png')
    display inline
    width 18px
    height 18px
    border 0
    padding-bottom 5px


  .combo-list-container
    overflow hidden

    // floating list instead of inside box
    position absolute
    left 0
    right 0
    top 20px

    .combo-list,
    .empty-list
      overflow-x hidden
      overflow-y scroll
      border 1px solid #ccc
      background #c1c7cc
      margin 0 0 0 0
      padding 0

      li
        background #d6dfe5
        margin-bottom 1px
        padding 5px 5px
        cursor default
        height 11px


// STATE DEPENDENT STYLES (UNTESTED)
.combo-button:active
  background-position: 0 -20px

.combo-list li.active,
.combo-list .empty-list.active
  background #bfcdd7 !important

.combo-list li.disabled,
.combo-list .empty-list.disabled
  color #afafaf

.disabled .combo-button
  background-position 0 0
  -ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  /* IE 8 */
  filter opacity=50
  /* IE 5-7 */
  -khtml-opacity 0.5
  /* khtml, old safari */
  -moz-opacity 0.5
   mozilla, netscape
  opacity 0.5

